body{
    margin:0;
    background:var(--bg-primary);
    color:var(--text-primary);
    font-family:sans-serif;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:30px;
}

.top{
    display:flex;
    gap:40px;
}

.monster-left img{
    width:300px;
    aspect-ratio:1/1;
    object-fit:cover;
    border-radius:12px;
}

.monster-right{
    font-size:20px;
}

.floor-section{
    display:flex;
    gap:30px;
    margin:40px 0;
}

.floor-btn{
    display:block;
    width:200px;
    margin-bottom:10px;
    padding:15px;
    cursor:pointer;
    border:none;
    border-radius:10px;
    background:var(--card-bg);
    color:var(--text-primary);
}

.floor-btn:hover{
    background:var(--hover-bg);
}

.map-box{
    flex:1;
    min-height:350px;
    background:var(--card-bg);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:12px;
}

.map-box img{
    max-width:100%;
    max-height:350px;
    border-radius:12px;
}

.attack{
    background:var(--card-bg);
    margin-bottom:15px;
    border-radius:12px;
    overflow:hidden;
}

.attack-header{
    padding:15px;
    cursor:pointer;
}

.attack-header:hover{
    background:var(--hover-bg);
}

.attack-content{
    display:none;
    padding:15px;
}

video{
    width:100%;
    border-radius:12px;
}
